body {
  background-color: #4560cb;
}

header:before {
  content:'';
  background-image: url('../images/sea-header.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: -1;
}

#bubble1 {
  animation: bubble-up 8s ease-in .5s infinite;
  transform-box: fill-box;
  transform-origin: center;
  
}

#bubble3 {
  animation: bubble-up 8s ease-in .25s infinite;
  transform-box: fill-box;
  transform-origin: center;
}

#bubble2 {
  animation: bubble-up 8s ease-in infinite;
  transform-box: fill-box;
  transform-origin: center;
  
}

#bubble4 {
  animation: bubble-up 8s ease-in .75s infinite;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes bubble-up {
  0% {transform: translateX(5px) translateY(0px) scale(0,0);}
  75% {transform: translateX(-5px) translateY(0px) scale(0,0);}
  80% {transform: translateX(5px) translateY(-20px) scale(.15,.15);}
  85% {transform: translateX(-5px) translateY(-40px) scale(.3,.3);;}
  90% {transform: translateX(5px) translateY(-60px) scale(.45,.45);;}
  95% {transform: translateX(-5px) translateY(-80px) scale(.6,.6);;}
  100% {transform: translateX(5px) translateY(-90px) scale(.75,.75);}
}







